@model Mansion.Core.User.User
@{
    Layout = null;
}
<html>
<head>
    <title>Hello React</title>
</head>
<body>
    @Html.React("Components.UsersBox", new
    {
        initialData = Model
        //url = Url.Action("Users")
    })
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>
    <script src="@Url.Content("~/js/client.bundle.js")"></script>
    @Html.ReactInitJavaScript()
</body>
</html>