@model Mansion.Core.User.User
@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello React</title>
    <link href="~/css/dashboard.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script> 
</head>
<body>
    @Html.React("Components.UsersBox", new
    {
        initialData = Model
        //url = Url.Action("Users")
    })
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>
    <script src="@Url.Content("~/js/client.bundle.js")"></script>
    @Html.ReactInitJavaScript()
</body>
</html>