# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/web/Smart.House.Dashboard/node_modules
/web/Smart.House.Dashboard/node_modules/bin
/web/Smart.House.Dashboard/bin/*
/web/Smart.House.Dashboard/obj/*
/web/Smart.House.Dashboard/.vs/*
/web/Smart.House.Dashboard/wwwroot/*
/core/Lib
/core/Smart.House.Core/Smart.House.Domain/bin
/core/Smart.House.Core/Smart.House.Domain/obj
/api/Smart.House.Api/Smart.House.CameraApi/bin/Debug/netcoreapp1.1
/api/Smart.House.Api/Smart.House.CameraApi/obj
/application/Smart.House.Application/Smart.House.Application/obj/Debug/netcoreapp1.1
/application/Smart.House.Application/Smart.House.Application/obj
/application/Smart.House.Application/Smart.House.Commands/obj
/application/Smart.House.Application/Smart.House.Application/bin/Debug/netcoreapp1.1
/application/Smart.House.Application/Smart.House.Commands/bin/Debug/netcoreapp1.1
/application/Smart.House.Application/Smart.House.Application/bin/Debug/netcoreapp1.1
/infrastructure/Smart.House.Infrastructure/Smart.House.EntityFramework/obj
/infrastructure/Smart.House.Infrastructure/Smart.House.EntityFramework/bin/Debug/netcoreapp1.1
/application/Smart.House.Application/Smart.House.Application/bin/Debug/netcoreapp2.0
/infrastructure/Smart.House.Infrastructure/Smart.House.DLink/bin/Debug/netcoreapp2.0
/infrastructure/Smart.House.Infrastructure/Smart.House.DLink/obj
/infrastructure/Smart.House.Infrastructure/Smart.House.EntityFramework/bin/Debug/netcoreapp2.0
/infrastructure/Smart.House.Infrastructure/Smart.House.Ftp/bin/Debug/netcoreapp2.0
/infrastructure/Smart.House.Infrastructure/Smart.House.Ftp/obj
/application/Smart.House.Application/Smart.House.Commands/bin/Debug/netcoreapp2.0
/application/Smart.House.Application/Smart.House.Services/bin/Debug/netcoreapp2.0
/application/Smart.House.Application/Smart.House.Services/obj
/core/Smart.House.Core/Smart.House.Camera/bin/Debug/netcoreapp2.0
/core/Smart.House.Core/Smart.House.Camera/obj
/core/Smart.House.Core/Smart.House.Notification/obj
/infrastructure/Smart.House.Infrastructure/Smart.House.Data/bin/Debug
/infrastructure/Smart.House.Infrastructure/Smart.House.Data/obj
/infrastructure/Smart.House.Infrastructure/Smart.House.Read/bin/Debug/netcoreapp2.0
/infrastructure/Smart.House.Infrastructure/Smart.House.Read/obj
/core/Smart.House.Core/Smart.House.Core/bin
/core/Smart.House.Core/Smart.House.Core/obj
/infrastructure/Smart.House.Infrastructure/Smart.House.Hyperion/bin/Debug/netcoreapp2.0
/infrastructure/Smart.House.Infrastructure/Smart.House.Hyperion/obj
/infrastructure/Smart.House.Infrastructure/Smart.House.Ssh/bin/Debug/netcoreapp2.0
/infrastructure/Smart.House.Infrastructure/Smart.House.Ssh/obj
/infrastructure/Smart.House.Infrastructure/Smart.House.Email/bin/Debug/netcoreapp2.0
/infrastructure/Smart.House.Infrastructure/Smart.House.Email/obj
/application/Smart.House.Application/Smart.House.Application/bin/Debug/netstandard2.0
/application/Smart.House.Application/Smart.House.Services/bin/Debug/netstandard2.0
/orleans/Smart.House.Orleans/Smart.House.Grains/bin/Debug
/orleans/Smart.House.Orleans/Smart.House.Grains/obj
/orleans/Smart.House.Orleans/Smart.House.Host/bin/Debug/netcoreapp2.0
/orleans/Smart.House.Orleans/Smart.House.Host/obj
/orleans/Smart.House.Orleans/Smart.House.Interface/bin/Debug
/orleans/Smart.House.Orleans/Smart.House.Interface/obj
/orleans/Smart.House.Orleans/Smart.House.States/bin/Debug/netstandard2.0
/orleans/Smart.House.Orleans/Smart.House.States/obj
