body {
}

header{
    margin-top: 50px;
}

.content {
    margin-top:50px;
    border-radius:5px;
    padding: 25px;
}

footer {
    margin-top:50px;
    height:150px;
    width:100%;
    clear:both;
    color: white;
    background-color: sandybrown;
    border: 1px solid silver;
    border-radius: 3px;
}

.footerSection {
    margin: 20px;
    font-size: 13px;
    padding: 5px;
    width: 25%;
    border-right: 1px solid saddlebrown;
    height: 100px;
}

.panel {
    min-height: 600px;

    &.left {
        float: left;
        width: 65%;
    }

    &.right {
        float: right;
        width: 33%;
        margin-left: 2%;
    }
}