$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
// $bootstrap-sass-asset-helper: true;
$navbar-default-bg: white !default;
$font-family-sans-serif: "Helvetica Neue", "Segoe UI", Roboto, sans-serif;
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$fa-font-path: '../../node_modules/font-awesome/fonts/';
@import '~font-awesome/scss/font-awesome';

$use-fade: true;
$use-bounce: true;
@import '~animate-sass/_animate';

body {
    padding-top: 50px;
    height: 100%;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar {
    -webkit-box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.75);
    background: #33302e;
    color: floralwhite;
    border: none;
}

.navbar-brand > img {
    padding-right: 14px;
}

.down-link {
    font-size: 48px;
    bottom: 15px;
    text-align: center;
}

#hero {
    color: antiquewhite;
    background-color: white;
    position: relative;
    display: block;
    transform-style: preserve-3d;
    -webkit-box-shadow: inset 10px 10px 250px 50px #EDEDED;
    box-shadow: inset 10px 10px 250px 50px #EDEDED;

    .container {
        height: 100%;
    }

    #tagline {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    h1 {
        font-size: 65px;
    }

    a {
        color: lightgray;
    }

    .down-link {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

#footer {
    height: 250px;
    width: 60%;
    margin-left: 20%;
}

.floor-container {
    margin: auto;
    width: 60%;
    display: inline-block;
    height: 250px;
    -webkit-perspective: 100px;
    -moz-perspective: 100px;
    perspective: 150px;
    -moz-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    margin-left:20%;
    z-index:-50;
}

.floor {
    height: 250px;
    //background-image: url(https://d18178273alp6b.cloudfront.net/production/bdsellerassets/ceramic-porcelain-tile/torino/images/torino-italian-porcelain-tile---tuscany-wood/sku_22763_vert.jpg);
    background-image: url(https://img00.deviantart.net/165c/i/2008/148/b/8/wood_floor_by_gnrbishop.jpg);
    -webkit-transform: rotateX(10deg) translateZ(0px);
    -moz-transform: rotateX(10deg) translateZ(0px);
    -ms-transform: rotateX(10deg) translateZ(0px);
    -o-transform: rotateX(10deg) translateZ(0px);
    transform: rotateX(10deg) translateZ(0px);
    margin: auto;
    width: 200%;
    left: -50%;
    //opacity: 0.7;
    position: absolute;
}

footer {
    text-align: center;
}
/* Socials links */
#share {
    margin: 50px 0 0;
}

.socials-links {
    list-style: none;
    padding: 0;
    margin: 0;

    a {
        color: lightgray;
    }
}

.socials-links li {
    display: inline-block;
    margin: 0 7px;
    font-size: 28px;
}

.camera-alert {
    border-left: 4px solid #d9331b;
    border-right: 4px solid #d9331b;
    border-bottom: 4px solid #d9331b;
}

.camera-recording {
    border-left: 4px solid mediumseagreen;
    border-right: 4px solid mediumseagreen;
    border-bottom: 4px solid mediumseagreen;
}

.camera-no-alert {
    border-left: 4px solid #33302e;
    border-right: 4px solid #33302e;
    border-bottom: 4px solid #33302e;
}

.camera-topbar {
    height: 30px;
    background: #33302e;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.75);
}

.camera-collapse-down {
    padding: 5px;
    position: absolute;
    color: floralwhite;
    cursor: pointer;
    left: -15px;
    top: 3px;
}

.camera-frame {
    background: #33302e;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.75);
}

.camera-name {
    color: floralwhite;
    margin: 1px 10px 1px 10px;
    font-family: 'HoloLens MDL2 Assets';
    float: left;
    font-size: small;
    font-variant: small-caps;
}

.camera-container {
    margin: 0px;
    margin-left:5px;
    float:left;
}

.camera-bottom {
    background: #33302e;
    height: 25px;
    width: 100%;
    display: inline-block;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.75);
}

.camera-play:hover {
    color: darkred;
}

.camera-play {
    color: floralwhite;
    cursor: pointer;
}

.camera-motion:hover {
    color: darkorange;
}

.camera-motion {
    color: floralwhite;
    cursor: pointer;
}

.camera-sound:hover {
    color: lightskyblue;
}

.camera-sound {
    color: floralwhite;
    cursor: pointer;
}

.camera-topbar-settings {
    padding: 5px;
    position: absolute;
    color: floralwhite;
    cursor: pointer;
    right: -15px;
    top: 3px;
}

.camera-visible {
    display: inline-block;
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
}

.camera-hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}

.ambilight {
    position:absolute;
    z-index:-1;
    border-radius:10px;
    /*background-image: url('images/ambient.jpg');*/
    background-position:center;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}

.frame-shadow {
    -webkit-box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.75);
}

.shadow {
    -webkit-box-shadow: 5px 5px 6px 2px rgba(0,0,0,0.66);
    -moz-box-shadow: 5px 5px 6px 2px rgba(0,0,0,0.66);
    box-shadow: 5px 5px 6px 2px rgba(0,0,0,0.66);
}

.image-frame {
    width: 130px;
    width: 175px;
    border: 3px solid silver;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.75);
}

.image {
    width: 125px;
    width: 170px;
    border: 5px solid white;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.75);
}

.television-bottom {
    background: black;
    height: 20px;
    width: 100%;
    display: inline-block;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.75);
}

.television-fireplace:hover {
    color: firebrick;
}

.television-fireplace {
    color: floralwhite;
    cursor: pointer;
}

.television-water:hover {
    color: cornflowerblue;
}

.television-water {
    color: floralwhite;
    cursor: pointer;
}

.television-leaf:hover {
    color: forestgreen;
}

.television-leaf {
    color: floralwhite;
    cursor: pointer;
}

.shelf {
    -webkit-box-shadow: 0px 17px 5px 7px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px 17px 5px 7px rgba(0,0,0,0.21);
    box-shadow: 0px 17px 5px 7px rgba(0,0,0,0.21);
    background: rgba(255,255,255,1);
}

.box {
    border-bottom: 2px solid #444343;
    border-top: 2px solid #444343;
    border-left: 1px solid #444343;
    position: relative;
}
.hue {
    position: absolute;
    top: 5px;
    height: 130px;
    width: 40px;
    filter: blur(5px);
    background-color: #23f343;
    z-index: -1;
}

.hue2 {
    position: absolute;
    top: 5px;
    height: 130px;
    width: 40px;
    filter: blur(5px);
    background-color: #f650e8;
    z-index: -1;
}

.box-shadow {
    -webkit-box-shadow: inset 1px 6px 12px 5px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: inset 1px 6px 12px 5px rgba(0, 0, 0, 0.54);
    box-shadow: inset 1px 6px 12px 5px rgba(0, 0, 0, 0.54);
}

.box:before {
    content: "";
    position: absolute;
    padding-top:1px;
    padding-bottom:1px;
    height:41px;
    border-left: 4px solid rgba(193, 155, 108, 1);
    left: 0px;
    top: -2px;
}

.slide-up, .slide-down {
    overflow: hidden;
}

.slide-up > div, .slide-down > div {
    transform: translateY(-100%);
    transition: .4s ease-in-out;
}

.slide-down > div {
    transform: translateY(0);
}

.fancy-border {
    border-left: 4px solid;
    border-top: 4px solid;
    border-right: 4px solid;
    border-image: url("https://s12.postimg.org/kebji5qfd/border.png") 1 stretch repeat;
    /*-webkit-filter: blur(3px) brightness(0.8);
    -webkit-transform-origin: top left;
    -webkit-transform: scale(5);
    -moz-filter: blur(3px) brightness(0.8);
    -moz-transform-origin: top left;
    -moz-transform: scale(5);*/
}

// Login
.omb_login {
    .omb_authTitle {
        text-align: center;
	    line-height: 300%;
    }
	
    .omb_socialButtons {

        a {
	        color: $body-bg; 
	        opacity:0.9;

        }
        
        .btn-block {
            padding-left: 0;
            padding-right: 0;
        }

        a:hover {
            color: white;
	        opacity:1;    	
        }

        .omb_btn-facebook {background: #3b5998;}
        .omb_btn-twitter {background: #00aced;}
        .omb_btn-google {background: #c32f10;}
    }


    .omb_loginOr {
	    position: relative;
	    font-size: 1.5em;
	    color: #aaa;
	    margin-top: 1em;
	    margin-bottom: 1em;
	    padding-top: 0.5em;
	    padding-bottom: 0.5em;

        .omb_hrOr {
	        background-color: #cdcdcd;
	        height: 1px;
	        margin-top: 0px !important;
	        margin-bottom: 0px !important;
        }
    
        .omb_spanOr {
	        display: block;
	        position: absolute;
	        left: 50%;
	        top: -0.6em;
	        margin-left: -1.5em;
	        background-color: white;
	        width: 3em;
	        text-align: center;
        }			
    }

    .omb_loginForm .input-group.i {
	    width: 2em;
    }
    .omb_loginForm  .help-block {
        color: red;
    }
}
