header {
  margin-top: 50px; }

._25B6V {
  margin-top: 50px;
  border-radius: 5px;
  padding: 25px; }

footer {
  margin-top: 50px;
  height: 150px;
  width: 100%;
  background-color: seagreen;
  clear: both; }

._1Sekv {
  min-height: 600px; }
  ._1Sekv._3s0Xo {
    float: left;
    width: 65%; }
  ._1Sekv._2gaQU {
    float: right;
    width: 33%;
    margin-left: 2%; }
